[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-crispy-forms = "*"
django-allauth = "*"
environs = {extras = ["django"], version = "*"}
pillow = "*"
django-debug-toolbar = "*"
whitenoise = "*"
gunicorn = "*"
django-storages = {extras = ["google"], version = "*"}
easy-thumbnails = "*"
django-tinymce = "*"
djangorestframework = "~=3.13.0"

[dev-packages]

[requires]
python_version = "3.9"
