/* static/css/base.css */
h1 {
    color: red;
}

.bookcover {
    height: 320px;
    width: 220px;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  flex: 1;
}

