/* static/css/base.css */

h1 {
    color: blue;
}

.bookcover {
    height: auto;
    max-width: 350px;
    width: 100%;
}

/* Картинки с округленными краями */
.img-thumbnail {
    height: 200px;
}

/*  Боковой скролл для всех .card-body
.card-body {
    overflow-y: scroll;
    max-height: 350px;
}
*/

/* Боковой скролл в collapse в SideBar */
.collapse {
    overflow-y: auto;
    max-height: 350px;
}

.list-group {
    position: sticky;
    top: 0;
    padding-top: 10px;
}

/* Для прилипания футера к низу */
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  flex: 1;
}

.sidefont {
    font-size: smaller;
}

