{% extends '_base.html' %}

{% block title %}О кафедре{% endblock title %}

{% block content %}
  <h1>О нас</h1>
Компания ТОО «Aqualife Казахстан»  – уже 10 лет является самой крупной компаний и лидером в области продаж фильтров для воды в Астане.

ТОО «Aqualife Казахстан»  является официальным дистрибьютором ведущих мировых производителей систем водоочистки.

Прежде всего, компания ориентирована на Клиента и предлагает максимально возможный ассортимент систем водоочистки. Мы предлагаем только сертифицированное оборудование мировых брендов, с гарантией от заводов производителей и сервисным обслуживанием.
{% endblock content %}