/* static/css/base.css */

h1 {
    color: blue;
}

.bookcover {
    height: auto;
    width: 350px;
}

/* Для прилипания футера к низу */
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  flex: 1;
}

