{% extends '_base.html' %}
{% load static %}


{% block title %}Records{% endblock title %}

{% block content %}
    <a href="{% url 'subtopic_new' pk=topic.pk %}" class="btn btn-primary btn-lg btn-block">Добавить подтему</a>
    <a href="{% url 'record_new' pk=topic.pk  %}" class="btn btn-primary btn-lg btn-block">Добавить запись</a>
    {% for subtopic in subtopic_list %}
        <h2><a href="{{ subtopic.get_absolute_url }}">{{ subtopic.title }}</a></p></h2>
    {% endfor %}
    {% for record in record_list %}
     <div class="card mb-3" style="max-width: 1000px;">
      <div class="row no-gutters">
        <div class="col-md-4">
            {% if record.image %}
                <a href="{{ record.get_absolute_url }}"><img class="bookcover" src="{{ record.image.url }}" alt="{{ record.title }}"/></a>
            {% else %}
                <a href="{{ record.get_absolute_url }}"><img class="bookcover" src="{% static 'images/no_image.png' %}" alt="{{ record.title }}"/></a>
            {% endif %}
        </div>
        <div class="col-md-8">
          <div class="card-body">
              <h5><a class="card-title" href="{{ record.get_absolute_url }}">{{ record.title }}</a></h5>
            <p class="card-text">{{ record.preview|safe }}</p>
            <a href="{% url 'record_update' record.pk %}" class="card-text">Редактировать</a>
            <a href="{% url 'record_delete' record.pk %}" class="card-text">Удалить</a>
            <p class="card-text"><small class="text-muted">{{ record.date_added }}</small></p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
{% endblock content %}