{% extends '_base.html' %}
{% load static %}
{% load has_group %}


{% block title %}{{ topic }}{% endblock title %}

{% block content %}

    {# FOUR COLUMN IN THE TOP #}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <p><i class="bi bi-tag-fill"></i> Тема: <a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a></p>
            </div>
            <div class="col-md-3">
                <a><i class="bi bi-calendar-date"></i> Дата: {{ topic.date_added|date:"d E Y" }}</a>
            </div>
            <div class="col-md-3">
                {% if request.user|has_group:'teachers' %}
                    {% if topic.access_level == 1 %}
                        <a><i class="bi bi-people-fill"></i> Доступ: Преподаватели </a>
                    {% endif %}
                    {% if topic.access_level == 2 %}
                        <a><i class="bi bi-person-fill"></i> Доступ: Только я</a>
                    {% endif %}
                    {% if topic.access_level == 0 %}
                        <a><i class="bi bi-people"></i> Доступ: Все</a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-md-3">
                {% if request.user|has_group:'teachers' %}
                    <a href="{% url 'subtopic_new' pk=topic.pk %}" class="btn btn-primary btn-sm"><i class="bi bi-plus-circle-dotted"></i> Подтема</a>
                    <a href="{% url 'record_new' pk=topic.pk  %}" class="btn btn-success btn-sm"><i class="bi bi-plus-circle-dotted"></i> Запись</a>
                {% endif %}
            </div>
        </div>

        {# SIDEBAR col-md-3 #}
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <a href="{% url 'home' %}" class="list-group-item list-group-item-action">Главная</a>
                    <a href="{% url 'topic_list' %}" class="list-group-item list-group-item-action">Обучение</a>
                    <a class="list-group-item list-group-item-action" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">> Подтемы</a>
                    <div class="collapse show" id="collapseExample">
                        <div class="card card-body">
                            {% for subtopic in subtopic_list %}
                                {% if request.user|has_group:'teachers' %}
                                    {% if subtopic.access_level == 1 %}
                                        <li><a href="{{ subtopic.get_absolute_url }}" class="sidefont"><i class="bi bi-people-fill"></i> {{ subtopic }}</a></li>
                                    {% endif %}
                                    {% if subtopic.access_level == 2 %}
                                        <li><a href="{{ subtopic.get_absolute_url }}" class="sidefont"><i class="bi bi-person-fill"></i> {{ subtopic }}</a></li>
                                    {% endif %}
                                    {% if subtopic.access_level == 0 %}
                                        <li><a href="{{ subtopic.get_absolute_url }}" class="sidefont"><i class="bi bi-people"></i> {{ subtopic }}</a></li>
                                    {% endif %}
                                {% else %}
                                    <li><a href="{{ subtopic.get_absolute_url }}" class="sidefont">{{ subtopic }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            {# MAIN CONTENT record_list col-md-9 #}
            <div class="col-md-9">
                {% for record in record_list %}
                    <div class="card mb-3" style="max-width: 1000px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                {% if record.image %}
                                    <a href="{{ record.get_absolute_url }}"><img class="img-thumbnail" src="{{ record.image.url }}" alt="{{ record.title }}"/></a>
                                {% else %}
                                    <a href="{{ record.get_absolute_url }}"><img class="img-thumbnail" src="{% static 'images/no_image.png' %}" alt="{{ record.title }}"/></a>
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h5><a class="card-title" href="{{ record.get_absolute_url }}">{{ record.title }}</a></h5>
                                        </div>
                                        <div class="col-md-4">
                                        {% if request.user|has_group:'teachers' %}
                                            {% if record.access_level == 1 %}
                                                <a><i class="bi bi-people-fill"></i> Доступ: Преподаватели </a>
                                            {% endif %}
                                            {% if record.access_level == 2 %}
                                                <a><i class="bi bi-person-fill"></i> Доступ: Только я</a>
                                            {% endif %}
                                            {% if record.access_level == 0 %}
                                                <a><i class="bi bi-people"></i> Доступ: Все</a>
                                            {% endif %}
                                        {% endif %}
                                        </div>
                                    </div>
                                    <p class="card-text">{{ record.preview|safe }}</p>
                                    {% if request.user|has_group:'teachers' or record.author == request.user %}
                                        <a href="{% url 'record_update' record.pk %}" class="badge badge-primary"><i class="bi bi-gear"></i>  Редактировать</a>
                                        <a href="{% url 'record_delete' record.pk %}" class="badge badge-danger"><i class="bi bi-trash3"></i>  Удалить</a>
                                    {% endif %}
                                    <p class="card-text"><small class="text-muted">{{ record.date_added }}</small></p>
                                </div>
                            </div>
                      </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}

