{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  Файлы для {{ record.title }}
{% endblock title %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Тема: {{ record.topic }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Запись: {{ record.title }}</h6>
    <p class="card-text">Дата добавления записи: {{ record.date_added }}</p>
  </div>
</div>

<div class="card mt-3">
  <div class="card-header">
    Добавление документов
  </div>
  <div class="card-body">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ formset|crispy }}

      <button class="btn btn-primary" type="submit">
        <i class="bi bi-cloud-upload"></i> Добавить файлы
      </button>
    </form>
  </div>
</div>
{% endblock content %}
