{% extends '_base.html' %}
{% load has_group %}

{% block title %}{{ record }}{% endblock title %}

{% block content %}

    {# FOUR COLUMN IN THE TOP #}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <p><i class="bi bi-tag-fill"></i> Тема: <a href="{% url 'topic' record.topic_id %}">{{ record.topic }}</a></p>
            </div>
            <div class="col-md-3">
                <a><i class="bi bi-calendar-date"></i> Дата: {{ record.date_added }}</a>
            </div>
            <div class="col-md-3">
                {% if request.user|has_group:'teachers' %}
                    {% if record.access_level == 1 %}
                        <a><i class="bi bi-people-fill"></i> Доступ: Преподаватели </a>
                    {% endif %}
                    {% if record.access_level == 2 %}
                        <a><i class="bi bi-person-fill"></i> Доступ: Только я</a>
                    {% endif %}
                    {% if record.access_level == 0 %}
                        <a><i class="bi bi-people"></i> Доступ: Все</a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-md-3">
                {% if request.user|has_group:'teachers' or record.author == request.user %}
                    <a href="{% url 'record_update' record.pk %}" class="badge badge-primary"><i class="bi bi-gear"></i>  Редактировать</a>
                    <a href="{% url 'record_delete' record.pk %}" class="badge badge-danger"><i class="bi bi-trash3"></i>  Удалить</a>
                {% endif %}
            </div>
        </div>

        {# SIDEBAR col-md-3 #}
        <div class="row">
            <div class="col-md-3">
                  <div class="list-group">
                      <a href="{% url 'home' %}" class="list-group-item list-group-item-action"> Главная</a>
                      <a href="{% url 'topic_list' %}" class="list-group-item list-group-item-action"> Обучение</a>
                      <a class="list-group-item list-group-item-action" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">> {{ record.topic }}</a>
                      <div class="collapse show" id="collapseExample">
                        <div class="card card-body">
                            {% for r in record_list %}
                                {% if record == r %}
                                    <li><a href="{{ r.get_absulute_url }}" class="sidefont"> <b>{{ r }}</b> </a></li>
                                {% else %}
                                    <li><a href="{{ r.get_absolute_url }}" class="sidefont"> {{ r }} </a></li>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                  </div>
            </div>

            {# MAIN CONTENT record_list col-md-9 #}
            <div class="col-md-9">
                <h2><a href="">{{ record.title }}</a></h2>
                {% if record.image %}
                    <img class="bookcover" src="{{ record.image.url }}" alt="{{ record.title }}">
                {% endif %}
                <p>{{ record.text|safe }}</p>
                {% if record.document %}
                  <p><a href={{ record.document.url }}><i class="bi bi-download"></i> Скачать {{ record.document.size|filesizeformat }}</a></p>
                {% endif %}
                <p>{{ record.date_added }}</p>
            </div>
        </div>
    </div>

{% endblock content %}
