{% extends '_base.html' %}

{% block title %}{{ subrecord }}{% endblock title %}

{% block content %}
    <a href="{% url 'topic_list' %}" class="">Обучение</a> >
    <a href="{% url 'topic' subrecord.subtopic.topic_id  %}" class="">{{ subrecord.subtopic.topic }}</a> >
    <a href="{% url 'subtopic' subrecord.subtopic_id  %}" class="">{{ subrecord.subtopic }}</a> >
    <a href="{% url 'subrecord' subrecord.id %}" class="">{{ subrecord }}</a>
    <div class="book-detail">
        {% if subrecord.image %}
            <img class="bookcover" src="{{ subrecord.image.url }}" alt="{{ subrecord.title }}">
        {% endif %}
        <h2><a href="">{{ subrecord.title }}</a></h2>
        <a href="{% url 'subrecord_update' subrecord.pk %}" class="badge badge-primary"><i class="bi bi-gear"></i>  Редактировать</a>
        <a href="{% url 'subrecord_delete' subrecord.pk %}" class="badge badge-danger"><i class="bi bi-trash3"></i>  Удалить</a>
        <p>{{ subrecord.text|safe }}</p>
        <p>{{ subrecord.date_added }}</p>
        {% if subrecord.document %}
            <p><a href={{ subrecord.document.url }}>Скачать</a></p>
        {% endif %}
    </div>
{% endblock content %}