{% extends '_base.html' %}
{% load has_group %}

{% block title %}Обучение{% endblock title %}

{% block content %}
{% if request.user|has_group:'teachers' %}
  <a href="{% url 'topic_new' %}" class="btn btn-primary btn-lg btn-block mb-3"><i class="bi bi-plus-circle-dotted"></i> Тема</a>
{% endif %}

<div class="row">
  {% for topic in topic_list %}
    <div class="col-md-4 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title"><a href="{{ topic.get_absolute_url }}">{{ topic.title }}</a></h4>
          {% if request.user|has_group:'teachers' %}
            {% if topic.access_level == 1 %}
              <p class="card-text"><i class="bi bi-people-fill"></i> Доступ: Преподаватели </p>
            {% endif %}
            {% if topic.access_level == 2 %}
              <p class="card-text"><i class="bi bi-person-fill"></i> Доступ: Только я</p>
            {% endif %}
            {% if topic.access_level == 0 %}
              <p class="card-text"><i class="bi bi-people"></i> Доступ: Все</p>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>




{% endblock content %}